body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgba(224, 142, 136);
}

h1, h2, h3, h4, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.movies-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}